.topbar {
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.0975);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: height .2s ease-in-out;
    height: 77px;
    align-items: center;
    border: 0 solid #000;
}

.topbar-content {
    display: flex;
    flex-direction: row;
    height: 77px;
    margin: auto;
    max-width: 1010px;
    padding: 26px 40px;
    transition: height .2s ease-in-out;
    width: 100%;
}

.topbar-title {
    margin: auto 0px auto 15px;
}

h1 {
    font-size: 28px;
    font-family: 'Berkshire Swash';
}

.logo {
    margin-right: 15px;
}

.vl {
    border-left: 1px solid gray;
    height: 28px;
    overflow: hidden;
}

.main-body {
    background-color: #fafafa;
    flex-grow: 1;
    order: 4;
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
}

h2 p {
    font-family: 'Helvetica';
}

.content-body {
    padding-top: 75px;
    flex-flow: row nowrap;
    max-width: 935px;
    flex-grow: 1;
    max-width: 935px;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.main-content {
    background-color: #fff;
    border-radius: 3px;
    border-color: 1px solid #e6e6e6;
    margin: 10px;
    width: 100%;
    padding: 10px;
}

.main-searchbar {
    width: 100%;
    align-content: center;
    margin: 10px;
    padding: 10px;
}